<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net48" />
  <package id="DotNetZip" version="1.13.7" targetFramework="net48" />
  <package id="gong-wpf-dragdrop" version="2.2.0" targetFramework="net48" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks" version="3.7.0" targetFramework="net48" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.0" targetFramework="net48" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net48" />
  <package id="TreeListView" version="1.0.0" targetFramework="net48" />
</packages>